<script type="text/javascript">
  var disqus_url = "http://orihasawebsite.net{{ post.url }}"; 
  var disqus_title ="{{ post.title }}";
</script>
<div id="disqus_thread" style="margin-bottom: 0px;"></div>
<script type="text/javascript" src="http://disqus.com/forums/orihasawebsite/embed.js"></script>
<script type="text/javascript">
  //<![CDATA[
  (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
      query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script type="text/javascript" src="http://disqus.com/forums/orihasawebsite/get_num_replies.js' + query + '"></' + 'script>');
  })();
  //]]>
</script>
