<head>
    <meta charset="UTF-8" />
    <title>Ori Has a Website - {{ page.title }}</title>
    
    <!-- CSS --> 
    <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" />
    
    <!-- JAVASCRIPT --> 
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
  	<script type="text/javascript" charset="utf-8" src="/js/jquery.scrollTo-min.js"></script>
  	<script type="text/javascript" charset="utf-8" src="/js/jquery.localscroll-min.js"></script>
  	<script type="text/javascript" charset="utf-8" src="/js/main.js"></script>
  </head>
