<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ori Has a Website - {{ page.title }}</title>
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        Header would go here.
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
      </div>
    </div>
    
    <div id="vignette-top"></div> 
    <div id="vignette-right"></div> 
  	<div id="vignette-bottom"></div> 
  	<div id="vignette-left"></div>
  </body>
</html>