<!DOCTYPE html>

<html>
  {% include _header.html %}
  <body>
    <div id="main">
      {% include _body_header.html %}
      
      <!-- Content, includes posts and their bodies -->
      <div id="content">
        <div id="posts">
          <div class="post">
            <div class="date_posted">
              <span class="month">{{ page.date | date: "%b" | upcase }}</span>
              <span class="day">{{ page.date | date:" %d" }}</span>
            </div>
            <div class="post_title">
              <h2>{{ page.title }}</h2>
            </div>
            <div class="inner_post">
              {{ content }}
              <p class="bottom_date">
                {{ page.date | date: "%B %d, %Y" }}
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    {% include _footer.html %}
  </body>
</html>      